.fnaame{
    font-size: 30px;
    font-weight: 500;
}

.edit{
    font-size: 20px;
}

.promd2{
    font-size: 18px;
    color: #c2c2c2;
    
}
.promd3{
    font-size: 18px;

    
}

.profcont{
    border: 1px solid red;
    background-color: #FFFFFF;
}

.holeProfile{
    background-color: #F2F2F2;
}